
/* Size of elements including up to borders */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/**********************************************/
/* Global settings, i.e. fonts, margins, etc. */
body {
  font-family: 'Lato', Verdana, Geneva, sans-serif;
  font-size: 14px;
  line-height: 1.2em;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: normal;
  line-height: 100%;
}

h1 {
  margin: 0 0 0.2em;
  font-size: 1.8em;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
}

h2 {
  font-size: 2em;
  font-weight: normal;
  font-family: 'Nunito', sans-serif;
  color: #7d97ad;
  margin: 0 0 0.8em;
}

h3 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0.2em 0 0.1em;
}

main {
  padding: 0.6em;
}

/******************/
/* Profile header */
.profile-heading {
    background-color: #eeebd3;
    border-bottom: 3px solid #f7c548;
    margin: 0 0 2em;
}

.heading-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: auto;
  padding: 1em;
}

.title {
  text-align: right;
  width: 80%;
}

.logo {
  text-align: left;
  width: 20%;
}

.logo img {
  width: 50px;
  height: 50px;
}

.lead {
  margin: 0;
  font-family: 'Cabin', sans-serif;
  font-size: 1.2em;
}

/*************************************/
/* Main banner containing hero image */
.hero-img {
  width: 100%;
  border: 1px solid #eee;
  box-shadow: 0 0 25px #ddd;
}

.banner {
  margin: 0 0 3em;
}

/*****************************/
/* Featured projects section */
.featured-work h2 {
  padding-left: 10px;
}

.featured-grid {
  display: flex;
  flex-wrap: wrap;
}

.featured-project {
  background-color: #eee;
  margin-bottom: 2.5em;
  padding: 2em 0;
  text-align: center;
  width: 100%;
}

.featured-project img {
  width: 90%;
}

.featured-link {
  margin: 0;
}

.featured-link,
h3 {
  text-align: center;
}

.featured-link a:link {
  text-decoration: none;
  color: #0184f4;
}

.featured-link a:visited {
  color: #0184f4;
}

.featured-link a:hover {
  color: #7d97ad;
}
